<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
	<title>Insert title here</title>
	
	<style>
		
		.box {
  				width: 200px;                /* 横幅を200pxに指定 */
  				height: 500px;               /* 横幅を200pxに指定 */
 				 border: 1px solid #000;      /* わかりやすくボーダーを引く */
 				 overflow-y: scroll;          /* 縦方向にスクロール可能にする */
 				 float: right;
				}
		.P_images{
			float: right;
			      
	}
	</style>
</head>

<body>
	
	<div class="login">
		<div class="login-triangle"></div>

		<h2 class="login-header">AI</h2>

		<div class="box">
 			<h2>リスト</h2>
				<th:block th:each="reslt3 :${AI_list}">
						
						<p th:text="${reslt3.jname}"></p>
						
					</th:block>
					</div>
		
		<a href="poke_login">ログイン</a>
		<a href="poke_damage">ダメージ計算</a>
		
		<h2>オリジナルポケモン生成</h2>
			<p><input type="text" id="Poke_prompt"></p>
				<button onclick="second()">生成</button>
				
				<img id="myImage1"
				src=""
				class="P_images" alt="ポケモン1">
			
 			
			<p th:text="${message}" class="kekka"></p>
			
			<h2>ポケモン登録</h2>
			<form th:action="@{/poke_Ai/Insert}" method="POST">
				<input type="hidden" id="Poke_image" name="Poke_image">
				name<input type="text" id="Poke_name" name="Poke_name"><br>
				タイプ1<input type="text" id="type1" name="type1"><br>
				タイプ2<input type="text" id="type2" name="type2"><br>
				HP<input type="text" id="hp" name="hp"><br>
				ATK<input type="text" id="atk" name="atk"><br>
				DEF<input type="text" id="def" name="def"><br>
				SATK<input type="text" id="satk" name="satk"><br>
				SDEF<input type="text" id="sdef" name="sdef"><br>
				SPEED<input type="text" id="sp" name="sp"><br>
				高さ<input type="text" id="height" name="height"><br>
				重さ<input type="text" id="weight" name="weight"><br>
				<input type="submit" value="保存"><br>
			</form>
			
			
				
				<h2>ポケモン検索</h2>
				<form th:action="@{/poke_Ai_select}" method="POST">
					
					<p><input type="text" name="Poke_select"id="Poke_select"></p>
				<select id="sel" name="button">
					<option value="AI">AI</option>	
					<option value="ノーマル">既存ポケモン</option>		
				</select>
					<input type="submit" value="検索">
		            
				</form>
				
				<img th:src="${select_id}" class="kekka"></img>
		
		
		<hr>
		<div id="result">
			</div>
			
		
		<script>
			async function second() {
						var p = document.getElementById("Poke_prompt").value;
						console.log(p);


						const result = fetch("/poke_Ai_generate/" + p );
										result.then((response) => response.json())
										.then((info) => dispUpd(info))
									}
					
					
				function dispUpd(info){
					console.log(info);
					
					document.getElementById("myImage1").src = info.imageUrl;
					document.getElementById("Poke_image").value = info.imageUrl;
										}
		
		
		
		</script>
		

</body>

</html>