<!DOCTYPE html>
<html>

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>
		.card1 {
			float: left;
			padding-top: 15px;
			padding-left: 100px;
		}

		.card2 {
			float: left;
			padding-top: 15px;
			padding-right: 100px;
		}

		.col-4 {
			float: right;
		}

		.Btn_so {
			width: 200px;
			height: 50px;
			margin: 30px;

		}

		.P_images {
			width: 100px;
			height: 100px;
		}
	</style>
</head>

<body>

	<button onclick="kazuki()">aaaa</button>
	
		<div class="card1" style="width: 30rem;">
			<input type="text" name="Poke_name1" class="I_1" id="Poke_name1" /><br>
			
				
			<img id="myImage1"
				src="https://www.pokemoncenter-online.com/static/product_image/4521329278285/4521329278285_04.jpg"
				class="P_images" alt="ポケモン1">

			<div class="card-body">
				<h5 class="card-title">攻撃側</h5>
					<input type="checkbox" name="programming1" value="hp1">体力
				<input type="checkbox" name="programming2" value="atk1">攻撃
				<input type="checkbox" name="programming3" value="def1">防御
				<input type="checkbox" name="programming4" value="satk1">特攻
				<input type="checkbox" name="programming5" value="sdef1">特防
				<input type="checkbox" name="programming6" value="spd1">素早さ<br>
				
				<input type="radio"name="terasu"value="normal">テラスタルなし<br>
				<input type="radio"name="terasu"value="terasu">テラスタルあり<br>
				<input type="radio"name="terasu"value="sutera">ステラ<br>
				
					名前<p id="name1" text="?"></p>
					タイプ1<p id="type1" text="?"></p>
					タイプ2<p id="type2" text="?"></p>
					体力<p id="hp1" text="?"></p>
					攻撃<p id="atk1" text="?"></p>
					防御<p id="def1" text="?"></p>
					特攻<p id="satk1" text="?"></p>
					特防<p id="sdef1" text="?"></p>
					素早さ<p id="spd1" text="?"></p>

				
				
				<p class="card-text">

				</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
						<select id="waza" name="waza">
					<option value=160>技</option>	
					<option value="10001">---</option>	
					<option value="りんご">---</option>	
					<option value="メロン">---</option>	
					<option value="バナナ">---</option>	
				</select>
			</div>
		</div>

		<div class="card2" style="width: 30rem;">
			<input type="text" name="Poke_name2"  class="I_2" id="Poke_name2" /><br>
			<img id="myImage2"
				src="https://www.pokemoncenter-online.com/static/product_image/4521329278285/4521329278285_04.jpg"
				class="P_images" alt="ポケモン2">
			<div class="card-body">
				<h5 class="card-title">守備側</h5>
				
					名前<p id="name2" text="?"></p>
					タイプ1<p id="type3" text="?"></p>
					タイプ2<p id="type4" text="?"></p>
					体力<p id="hp2" text="?"></p>
					攻撃<p id="atk2" text="?"></p>
					防御<p id="def2" text="?"></p>
					特攻<p id="satk2" text="?"></p>
					特防<p id="sdef2" text="?"></p>
					素早さ<p id="spd2" text="?"></p>
				
				<p class="card-text">

				</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>

				<script>
					
						

				async function kazuki() {
					var p = document.getElementById("Poke_name1").value;
					var r = document.getElementById("Poke_name2").value;
								const result = fetch("/poke_true/" + p + "/" + r);
										result.then((response) => response.json())
										.then((info) => dispUpd(info))
							}

				function dispUpd(info){
					let i=document.getElementById("waza");
					parseInt(i.value);
					
					var result = document.querySelector("input[name=result]");
		
					document.getElementById("name1").innerText = info[0].name;
					document.getElementById("type1").innerText = info[0].type1;
					document.getElementById("type2").innerText = info[0].type2;
					document.getElementById("hp1").innerText = parseInt(info[0].Hp);
					document.getElementById("atk1").innerText = info[0].Atk;
					document.getElementById("def1").innerText = info[0].Def;
					document.getElementById("satk1").innerText = info[0].Satk;
					document.getElementById("sdef1").innerText = info[0].Sdef;
					document.getElementById("spd1").innerText = info[0].Spd;
					
					document.getElementById("name2").innerText = info[1].name;
					document.getElementById("type3").innerText = info[1].type1;
					document.getElementById("type4").innerText = info[1].type2;
					document.getElementById("hp2").innerText = info[1].Hp;
					document.getElementById("atk2").innerText = info[1].Atk;
					document.getElementById("def2").innerText = info[1].Def;
					document.getElementById("satk2").innerText = info[1].Satk;
					document.getElementById("sdef2").innerText = info[1].Sdef;
					document.getElementById("spd2").innerText = info[1].Spd;
					
					
					result.value = Number(info[0].Hp) + Number(i.value);

					
					
				}
				
				</script>
			

				<input type="text" name="result" value="0" readonly>
		
	<a href="poke_login">ログイン</a>
	<a href="poke_sinki">新規登録</a>
	<a href="poke_Ai">AI</a>
	
</body>

</html>