<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <style>
        .card1 {
            float: left;
            padding-top: 15px;
            padding-left: 100px;
        }

        .card2 {
            float: right;
            padding-top: 15px;
            padding-right: 100px;
        }
        
        .Btn_so{
			width: 200px;
			height: 50px;
			margin:30px;
		
		}
		
		.P_images{
			width: 100px;
			height: 100px;
		}
        
    </style>
</head>
<body>
    
    <form th:action="@{/poke_damage}" method="POST">
        <div class="card1" style="width: 30rem;">
            <input type="text" name="Poke_name1" class="I_1" /><br>
            <img src="https://www.pokemoncenter-online.com/static/product_image/4521329278285/4521329278285_04.jpg" class="P_images">
            <div class="card-body">
                <h5 class="card-title">攻撃側</h5>
                 <th:block th:each="result:${selectResult1}">
                       名前<p th:text="${result.name}"></p>
                       タイプ1<p th:text="${result.type1}"></p>
                       タイプ2<p th:text="${result.type2}"></p>
                       体力<p th:text="${result.Hp}"></p>
                       攻撃<p th:text="${result.Atk}"></p>
                       防御<p th:text="${result.Def}"></p>
                       特攻<p th:text="${result.Satk}"></p>
                       特防<p th:text="${result.Sdef}"></p>
                       素早さ<p th:text="${result.Spd}"></p>

                    </th:block>
                <p class="card-text">
                   
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card2" style="width: 30rem;">
            <input type="text" name="Poke_name2" class="I_2" /><br>
            <img src="https://www.pokemoncenter-online.com/static/product_image/4521329278285/4521329278285_04.jpg" class="P_images">
            <div class="card-body">
                <h5 class="card-title">守備側</h5>
					<th:block th:each="result:${selectResult2}">
                        名前<p th:text="${result.name}"></p>
                       タイプ1<p th:text="${result.type1}"></p>
                       タイプ2<p th:text="${result.type2}"></p>
                       体力<p th:text="${result.Hp}"></p>
                       攻撃<p th:text="${result.Atk}"></p>
                       防御<p th:text="${result.Def}"></p>
                       特攻<p th:text="${result.Satk}"></p>
                       特防<p th:text="${result.Sdef}"></p>
                       素早さ<p th:text="${result.Spd}"></p>
					 </th:block>
                <p class="card-text">
                     
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <input type="submit"value="送信" class="Btn_so"/>
    </form>
</body>
</html>